!!!
html
  head
    meta(charset='utf8')
    base(href='/')
    title Welcome to Boilerpad!
    link(rel='stylesheet', href='/css/styles.css')
  body

    block body
    script(type='text/javascript', src='js/vendor/requirejs/require.js', data-main='main')
